### Application Path ######################################

APPLICATION=../
TZ=PRC

### Data Path ##############################################

DATA_SAVE_PATH=../.data

### All volumes driver #####################################
VOLUMES_DRIVER=local

### All Networks driver ####################################
NETWORKS_DRIVER=bridge

###########################################################
# Containers Customization
###########################################################

### PHP_FPM ###############################################

PHP_VERSION=7.2

### NEXUS3 ################################################

NEXUS3_HOST_PORT=8081
NEXUS3_HOST_LOG_PATH=./logs/nexus3/
NEXUS3_ARFUMENTS=-Xms1200m -Xmx1200m -XX:MaxDirectMemorySize=2g  -Djava.util.prefs.userRoot=/nexus-data/javaprefs

### JENKINS ###############################################

JENKINS_HTTP_PORT=8080
JENKINS_AGENT_PORT=50000

### TOMCAT ################################################

TOMCAT_HOST_PORT=8080
TOMCAT_HOST_LOG_PATH=./logs/tomcat/
TOMCAT_CONF_PATH=./tomcat/conf/

### NGINX #################################################

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000

### APACHE ################################################

APACHE_HOST_HTTP_PORT=80
APACHE_HOST_HTTPS_PORT=443
APACHE_HOST_LOG_PATH=./logs/apache2
APACHE_SITES_PATH=./apache2/sites
APACHE_PHP_UPSTREAM_CONTAINER=php-fpm
APACHE_PHP_UPSTREAM_PORT=9000
APACHE_PHP_UPSTREAM_TIMEOUT=60
APACHE_DOCUMENT_ROOT=/var/www/

### MYSQL #################################################

# if you want to use 8.0,you need to modify mysql/my.cnf

MYSQL_VERSION=5.7
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

### MARIADB ###############################################

MARIADB_VERSION=latest
MARIADB_DATABASE=default
MARIADB_USER=default
MARIADB_PASSWORD=secret
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./mariadb/docker-entrypoint-initdb.d

### POSTGRES ##############################################

POSTGRESQL_VERSION=latest
POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

### RABBITMQ ##############################################

RABBITMQ_NODE_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HTTP_HOST_PORT=15672
RABBITMQ_MANAGEMENT_HTTPS_HOST_PORT=15671
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

### ELASTICSEARCH #########################################

ELASTICSEARCH_HOST_HTTP_PORT=9200
ELASTICSEARCH_HOST_TRANSPORT_PORT=9300

### MEMCACHED #############################################

MEMCACHED_HOST_PORT=11211

### REDIS #################################################

REDIS_PORT=6379

### COUCHDB ###############################################

COUCHDB_PORT=5984

### MONGODB ###############################################

MONGODB_PORT=27017

### ZOOKEEPER ###############################################

ZOOKEEPER_HOST_PORT=2181
ZOOKEEPER_HOST_LOG_PATH=./logs/zookeeper/
